<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="Default">
        <setting id="translit" type="bool" label="Use translit" default="false" />
        <setting id="unified_search" type="bool" label="Unified search" default="false" />
        <setting id="quality" type="labelenum" label="Video quality" values="select|360p|480p|720p|1080p" default="select"/>
        <setting id="translator" type="labelenum" label="Use translator" values="default|select" default="default"/>
        <setting id="dom_protocol" type="labelenum" label="Protocol" values="http|https" default="https"/>        
        <setting id="domain" type="text" label="Site URL" default="hdrezka.ag"/>
        <setting id="description" type="bool" label="Get media description" default="true" />
        <setting type="bool" id="united_search" visible="false" default="true" />
        <setting type="text" id="us_command" visible="false" default="mode=search&keyword=" />
    </category>
    <category label="Proxy settings">
        <setting id="use_proxy" type="bool" label="Use proxy settings" default="false" />
        <setting id="protocol" type="labelenum" label="Protocol" values="http|https|socks5" default="http"/>
        <setting id="proxy_url" type="text" label="URL" default="USERNAME:PASSWORD@IPADDRESS:PORT"/>
    </category>
</settings>
