<settings>
    <setting id="translit" type="bool" label="Translit" default="false" />
    <setting id="unified_search" type="bool" label="Unified search" default="false" />
    <setting type="bool" id="united_search" visible="false" default="true" />
    <setting type="text" id="us_command" visible="false" default="mode=search&keyword=" />
</settings>
