<settings>
    <setting id="mode" type="labelenum" label="Select videohost" values="auto|select|preferred" default="auto"/>
    <setting id="preferred" type="select" label="Preferred videohost" enable="eq(-1, 2)" option="hidden" values="VIDEOCDN|COLLAPS|HDVB|VIDEOFRAME" default="VIDEOCDN"/>  
</settings>
