<settings>
  <setting id="quality" type="labelenum" label="Video quality" values="select|360p|480p|720p|1080p" default="select"/>
  <setting type="bool" id="united_search" visible="false" default="true" />
  <setting type="text" id="us_command" visible="false" default="mode=searchcategory&keyword=" />
</settings>
