<settings>
    <setting id="rating" type="bool" label="6000" default="false"/>
    <setting type="sep"/>
    <setting id="translit" type="bool" label="2002" default="false" />
    <setting id="unified_search" type="bool" label="Unified search" default="false" />
    <setting type="sep"/>
    <setting id="hd_youtube_videos" type="bool" label="Youtube HD videos enabled" default="false" />    
    <setting type="bool" id="united_search" visible="false" default="true" />
    <setting type="text" id="us_command" visible="false" default="mode=search&keyword=" />
</settings>
