<?xml version="1.0" encoding="UTF-8"?>
<settings>
    <setting label="Edit title" type="bool" id="is_edit" default="true"/>
    <setting label="Edit condition patterns" type="text" id="patterns_edit" default=".*"/>
    <setting label="Delete patterns" type="text" id="patterns_delete" default="[(].+?[)],[[].+?[]]"/>
    <setting label="Always get id from TMDB" type="bool" id="always_from_tmdb" default="true"/>
    <setting label="Add YouTube videos mode" type="bool" id="youtube_mode" default="false"/>
    <setting label="Add MetalliQ mode" type="bool" id="metalliq_mode" default="false"/>
</settings>
