<settings>
  <setting id="translit" type="bool" label="Translit" default="false"/>
  <setting id="unified_search" type="bool" label="Unified search" default="true"/>
  <setting type="sep"/>
  <setting label=6001 type="labelenum" id="seasonsViewMode" values="List|Big List|Media Info|Media Info 2|Fanart|Fanart 2" default="Media Info"/>
  <setting label=6002 type="labelenum" id="episodsViewMode" values="List|Big List|Media Info|Media Info 2|Fanart|Fanart 2" default="Big List"/>
  <setting label=7000 type="bool" id="quality" default="true"/>
</settings>


<!--
50=List
51=Big List
52=Media Info
54=Media Info 2
57=Fanart 1 (My Personal Favourite)
59=Fanart 2
--> 