<settings>
  <setting id="translit" type="bool" label="Translit" default="false"/>
  <setting id="unified_search" type="bool" label="Unified search" default="false"/>
  <setting type="bool" id="united_search" visible="false" default="true" />
  <setting type="text" id="us_command" visible="false" default="mode=search&keyword=" />
  <setting type="sep"/>
  <setting id="begin_render_type" type="labelenum" label="Begin render type" values="new|popular|newest|bydate" default="new"/>
  <setting id="load_thumbnails" type="bool" label="Load thumbnails" default="true"/>
  <setting id="new_search_method" type="bool" label="New search method" default="true"/>
  <setting id="translator" type="labelenum" label="Use translator" values="standard|select" default="standard"/>
  <setting id="quality" type="labelenum" label="Video quality" enable="!eq(2,)" values="sd|hd" default="sd"/>
  <setting id="addtolib" type="bool" label="Adapt for AddToLib addon" default="false"/>
  <setting type="sep"/>
  <setting id="login" type="text" label="Login" default=""/>
  <setting id="password" type="text" label="Password" enable="!eq(-1,)" option="hidden" default=""/>
</settings>
